---
import {Text, Heading} from '@radix-ui/themes';
import Carousel from '../components/Carousel';
const images = ['oil.webp', 'services.jpeg', 'share_industry_data.jpg', '/cotton.jpeg']
import Layout from '../layouts/Layout.astro';
---

<Layout title="Industries">
    <header aria-labelledby="main-heading">
        <h1 id="main-heading" class="text-white bg-[#A6453C] p-8 text-center">Geography</h1>
    </header>
</Layout>