---
import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
import '@radix-ui/themes/styles.css';
import {Theme, Text} from '@radix-ui/themes';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industries</title>
</head>
<body>
<Theme>
    <div class="container">
        <aside></aside>
        <main>
            <header>
                <h1 class="text-white bg-[#A6453C] p-8 text-center">Branches of Government</h1>
            </header>
            <section>
                <h3>Executive</h3>
                <div>
                    <img src="/lula-brazilpresident.webp" alt="executive"/>
                    <Text>
                    </Text>
                </div>
            </section>
            <section>
                <h3>Legislative</h3>
                <div>
                    <img src="/legislation-brazil.jpg" alt="legislative"/>
                    <Text></Text>
                </div>
            </section>
            <section>
                <h3>Judicial</h3>
                <div>
                    <img src="/judicialbranchbrazil.jpg" alt="judicial"/>
                    <Text></Text>
                </div>
            </section>
        </main>
        <footer></footer>
    </div>
</Theme>
</body>
</html>
