---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="/education">Education</a>
		<a href="/industries">Industries</a>
		<a href="/government">Government</a>
		<a href="/income">The Middle Income Trap</a>
	</main>
</Layout>
