---
import {Text, Heading} from '@radix-ui/themes';
import Carousel from '../components/Carousel';
const images = ['oil.webp', 'services.jpeg', 'share_industry_data.jpg', '/cotton.jpeg']
import Layout from '../layouts/Layout.astro';
---

<Layout title="Industries">
    <header aria-labelledby="main-heading">
        <h1 id="main-heading" class="text-white bg-[#A6453C] p-8 text-center">Brazil’s Leading Industries</h1>
    </header>
    <main class="container">
        <section class="bg-[#F2F2F0] pb-4" aria-labelledby="leading-industries-heading">
            <div class="block" style={{height: '750px'}}>
                <Carousel images={images} client:load aria-label="Image carousel of Brazil's industries"/>
            </div>
            <Heading as="h2" id="leading-industries-heading" size="7" className="text-center">Leading industries and
                their employment
            </Heading>
            <Text as="p">
                &emsp; Brazil is made up of many industries. Leading the charge with the biggest sector
                would be products and services which makes up around 70% of the countries employment
                as of 2021. The service industry is made up of private and governmental sectors in both
                hospitality and retail. Trade was and is very important for Brazil’s economy however, it
                only accounts for a small portion of the countries income. Brazil is the 9th largest export
                market for the US. Other major industries include agriculture and oil mining. Brazil is
                the largest provider of oil in Latin America.
            </Text>
            <br/>
            <Text as="p">
                &emsp; Employment in Brazil is maintained between 51 and 57 percent with a low
                unemployment rate. While the industries in Brazil are thriving and employment is at a
                steady rate the Brazilian currency dropped its worth just recently now resting at 1 BRL to
                every .20 USD.
            </Text>
        </section>
        <section class="bg-[#D9D9D9] pb-4" aria-labelledby="petrobras-scandal-heading">
            <Heading as="h2" id="petrobras-scandal-heading" size="7"
                     className="text-center bg-[#024873] p-8 text-white">Petrobras Scandal
            </Heading>
            <Text as="p">
                &emsp; In 2004 the largest corruption scandal in any democratic country took
                shape through Petrobras. Petrobras is a state owned oil company. It is one
                of Brazil’s largest companies. As of 2021 the company employs of 45,ooo
                people. It is a company dedicated to the exploration and production of oil
                and petroleum products.
            </Text>
            <br/>
            <Text as="p">
                &emsp; In the early 2000’s executives within the Petrobras company had come up
                with a scheme that created layers of corruption within the company. They
                had coordinated enough people inside to help bid on contracts for more
                than they were worth. This allowed for the extra money company made to
                be pocketed and used to continue bribing any one needed to continue the
                scheme. Because of the company being partially owned by the state, many
                politians also partook in the scandal. There was an elderly man who would
                fly around the world with bricks of cash and other goods to distribute to
                those involved. In total 5.3 billion dollars changed hands over the life of the
                scandal.
            </Text>
            <br/>
            <Text as="p">
                &emsp; In 2014 an investigation was launched against Paulo Roberto Costa when
                they noticed he was given an expensive car by a convicted felon. Costa
                eventually signed a plea deal in exchange for giving up information on a
                huge scandal within the petrobras company and gave names of those
                involved. The police ended up charging 36 people with involvement in this
                scandal. Regardless of the corruption that took place because of this
                scheme the hope was that maybe this would cause the authorities to hold
                the politicians involved accountable. Corruption runs so deep in Brazil
                which is why this went on as long as it did.
            </Text>
        </section>
        <section class="bg-[#D9D9D9]" aria-labelledby="corruption-heading">
            <Heading as="h2" id="corruption-heading" size="7" className="text-white bg-[#A6453C] p-8 text-center">
                Corruption
            </Heading>
            <Text as="p">
                &emsp; A big reason for the lack of growth and thriving economy is due to the corruption
                in the industries. There is a great anti corruption act that was put into place in
                2013. It is a strict act created to limit and end bribery within companies. It is very
                strict and a great law however it is over looked and not held to standard. Because
                of this and the fact that bribery runs rampant through the judiciary system that
                companies, individuals, real estate, and the economy in general cannot grow the
                way it needs to for Brazil to reach its full potential.
            </Text>
        </section>
    </main>
</Layout>